---
# Only the main Sass file needs front matter (the dashes are required)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Hide navigation on splash layout pages only
.layout--splash .masthead {
  display: none;
}
